$primary: purple;
$footer-bg: #43474d;
$border-gray: 1px solid #eee;
$modal-bg: #f3f3f3;
$dilute-txt: #515a6e;
$dilute-lite-txt: #657180;

$error: #ed4014;
$info: #2db7f5;
$success: #19be6b;
$warning: #ff9900;

$primary: #2d8cf0;
$primary-lite: #5cadff;
$primary-dark: #2b85e4;

$title: #17233d;
$content: #515a6e;
$sub-content: #808695;
$disabled: #c5c8ce;
$border: #dcdee2;
$divider: #e8eaec;
$background: #f8f8f9;

// need to be removed
$border-color: #edf1f6;
$light-color: #b6babc;
